/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@font-face {
  font-family: Almarai;
  src: url('./assets/fonts/Almarai-Bold.ttf');
}

body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #bcf9ff;
  font-family: sans-serif;
  overflow-y: hidden;
}
* {
  font-family: Almarai;
  color: #093840;
}
body:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-image: url('./assets/bg.jpg');
  background-position: center;
  background-size: cover;
  filter: grayscale(1);
  opacity: 0.1;
  z-index: -1;
}

.action-btn {
  background-color: #2a5890;
  display: inline-block;
  color: #fff;
  padding: 20px 60px;
  border-radius: 50px;
  text-decoration: none;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-size: 20px;
}
.action-btn.disable {
  opacity: 0.5;
  cursor: not-allowed;
}
.welcome {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome h1 {
  font-size: 65px;
}

/* Questions */
.questions {
  padding: 150px;
}
.questions > button {
  margin-left: 50px;
}
.questions .question h2 {
  color: #000;
  font-size: 55px;
  margin-top: 0;
  margin-bottom: 60px;
}
.questions .question .answers {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}
.questions .question .answers li {
  font-size: 30px;
  cursor: pointer;
  padding: 20px 30px;
  max-width: 600px;
  border-radius: 50px;
  margin-bottom: 10px;
  transition: all 0.2 ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.questions .question .answers li.right {
  color: #fff;
  background-color: #47da6e;
  animation: shake 0.3s ease-in-out;
}

.questions .question .answers li.wrong {
  color: #fff;
  background-color: #e04f4f;
  animation: shake 0.3s ease-in-out;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
h1.bravo {
  font-size: 100px;
  text-align: center;
  margin-top: 0;
  animation: shake 0.3s infinite ease-in-out;
}

.questions.bravo {
  height: 100vh;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
